DEBUG=1
SECRET_KEY=12345
PROJECT_NAME=

ADMINS=
MANAGERS=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=12345

EMAIL=email@localhost
EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_FILE_PATH=/tmp/email
EMAIL_USE_TLS=1
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

STATIC_ROOT=data/static
MEDIA_ROOT=data/media
