wheel
envparse==0.2.0
django~=4.0
jinja2
django-constance[database]==2.8.0
requests<=3

tenacity==6.3.1
celery<5  # bc of flower
flower
redis
django-probes
sentry-sdk==1.1.0

# installed by alpine-packages
# psycopg2-binary
# pandas

django-debug-toolbar
ipdb
jedi<0.18  # 0.18 is broken
pydocstyle
mypy
django-stubs
flake8
pytest
pytest-django
nox