wheel
envparse==0.2.0
django<4
jinja2
django-constance[database]==2.8.0
requests<=3

tenacity==6.3.1
celery
flower
redis
django-admin-honeypot<2
django-probes

# installed by alpine-packages
# psycopg2-binary
# pandas

ipdb
jedi<0.18  # 0.18 is broken
pydocstyle
mypy
django-stubs
flake8
pytest
pytest-django
nox