<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if og is defined %}
            {% for property, value in og.items() %}
                {% if value %}
                    <meta property="og:{{ property }}" content="{{ value }}">
                {% endif %}
            {% endfor %}
        {% endif %}
    </head>

    <body>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
